* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(255, 255, 255);
    height: 100%;
     
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main{
display: flex;
justify-content: center;
flex-grow: 1;

}


.linkk{
    display: flex;
    background-color: red;
    width: 10vw;
    min-width: 200px;
    max-width: 200px;
    justify-content: center;
    
}

.textlink{
    margin-top: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    font-family: Arial, sans-serif; 
    margin-left: 15px;
   
    
}

a{
    text-align:justify;
    margin-top: 15px;
    color: white;
}

a:hover {
    background-color: green;
}

.text{
    width: 30vw;
   margin: 25px;
   margin-bottom: 0px;
    /* min-width: 400px; */
}

header{
    display: flex;
    align-items: center;
   justify-content: center;
    background-color: green;
    height: 40px;
    color: white;
    font-family: Arial, sans-serif; 
}

footer{
    display: flex;
    align-items: center;
   justify-content: center;
background-color: black;
height: 30px;
margin-top: auto;
color: white;
font-size: 0.8em;
font-family: Arial, sans-serif; 


}

p{
    text-align:justify;
}

p::selection{
    background-color: green;
    color: white;
}

p::first-letter {
    font-size: 1.2em; /* Увеличенный размер шрифта */
    font-family: Arial, sans-serif; 
    color: red;
   
   
}

@media (max-width: 1000px){
    main{
        justify-content: flex-start; 
        padding-left: 0; 
    }

    .text{
        width: auto;
        margin: 15px;
        margin-bottom: 0px;
    }

    .linkk{
        
        min-width: 200px;
        max-width: 25%;
        
    }
}